.text {
    width: 100%;
    text-align: center;
}

.title {
    color: red;
    transition: all 1.5s;
    transform: rotateX(360deg);
    animation: one 2s infinite;
    animation-direction: alternate;
}

@keyframes one {
    0% {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(360deg);
    }
}